.products {
    text-align: center;
    border-radius: 5%;
}

.ProductsInfo {
    border-top: outset;
}

.ProductsImg {
    width: 85%;
    align-self: center;
    padding: 5% 0;
    border-radius: 5%;
}

.ProductsImg:hover {
    transform: scale(1.1);
}

.CardText {
    margin: 7%;
    border-top: outset;
}

.CardInitial {
    width: 25%;
    margin: 3%;

}