.Filters {
    margin: 2%;
}

.InputName {
    width: 30%;
    margin-right: 5px
}

.NoProducts {
    background-color: rgba(145, 140, 136, 0.20);
    font-size: xx-large;
    font-family: 'Londrina Solid', cursive;
    text-align: center;
    color: #008184;
    padding: 7%;
}