.Cart {
    border-radius: 1%;
    background-color: rgba(145, 140, 136, 0.20);
    padding: 0% 15%;
    text-align: center;
}

.CartTitle {
    font-size: xx-large;
    font-family: 'Londrina Solid', cursive;
    text-align: center;
    color: #008184;
    padding: 3%;
}

.CartContainer {
    text-align: justify;
    color: #008184;
}

.CartPrice {
    text-align: right;
    list-style: none;
}

.CartAddDelete {
    text-align: center;
}

.CartBtn {
    display: flex;
    justify-content: space-evenly;
    padding: 2% 0;
}

.CartNoProducts {
    font-size: xx-large;
    font-family: 'Londrina Solid', cursive;
    color: #008184;
    padding: 5%;
    display: 'flex';
    border-radius: 10px;
    background-color: lightgray;
}